/* Johnathon Askey 9/5/2026 */
html, body {
  diplay: block;
  font-family: 'Times New Roman', times, serif;
}
nav ul {
  Backround-color: beige;
  list-style-type: none;

}
nav ul li a {
  text decoration: none;
  font-weight: bold;
  color: red;
}

nav ul li:hover {
  backround-color: aqua;
}

section {
  justify-items: center;
}

table {
  border-radius: 1px; 
  border-style: solid;
}
tr:nth-child(even) {
  background-color: lightgrey;
}

.bordered-image {
  border: 5px solid black;
  border-radius: 8px:
}

dive.Image-container {
  display: grid;
  grid-template-colums: 1fr 1fr;
  gap: 20px;
}
#png-figure {
  float: left;
}

#jpg-figure {
  float: inline-end;
}
