/* Johnathon Askey 9/5/2026 */
html, body {
  diplay: block;
  font-family: 'Times New Roman', times, serif;
}
nav ul {
  Backround-color: beige;
  list-style-type: none;

}
nav ul li a {
  text decoration: none;
  font-weight: bold;
  color: red;
}

nav ul li:hover {
  backround-color: aqua;
}

table {
  border-radius: 1px; 
  border-style: solid;
}
tr:nth-child(even) {
  background-color: lightgrey;
}
