nav ul {
  Backround-color: blue;
  list-style-type: none;}
nav ul li a:hover {
  backround-color: green;}
nav ul li a {
  text-decoration: none;
  font-weight: bold:
  color: purple;}
tbody tr:nth-child(even) {
  backround-color: Purple;}
